*{
    margin: 5 5 5 5;
    padding: 0;
    color: #ffffff;
    line-height: 0.8em;
    font-family: arial, sans-serif;
 }
 
 /*test in it*/
 
 body{
     background:red;
     word-spacing: 0.1em;
 }
 
 .me {
     padding: 30px;
     border-style: dashed;
     border-width: 0.5px;
     border-radius: 10px;
     background-color: yellow;
     text-align: center;
    width: 220px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
 }
 
 button {
     background: linear-gradient(rgba(18, 212, 67, 0.5));
     height: 35px;
     width: 60px;
     border-radius: 10px;
     border: 20px 30px 60px 20px solid#ffffff;
     margin-bottom: 10px;
     color: #ffffff;
 }
 
 #but {
     width: 70px;
     height: 35px;
 
 }
 
 h1 {
     color: #ffffff;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     margin-bottom: 10px;
 }
 b {
     color: #99ff00;
 }
